

$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secundary-normal: #090d11;
$secundary-dark: #06090c;
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #f9f5fd;
$white-light: #fcfbfb;

$red-normal: #d94110;
$red-drak: #b42b2b;
$red-light: #d34040;


$verde-claro: #D3E4C0;
$verde-medio: #667260;
$verde-escuro: #414B43;
$verde-dark: #333532;
$cinza: #5D5E58;
