@import "./header";

$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$verde-darkness: #333532;
$verde-normal: #667260;
$verde-medio: #5D5E58;
$verde-dark: #414B43;
$verde-light: #D3E4C0;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

